In [1]:
spark.range(1000 * 1000 * 1000).count()

1000000000

In [42]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType, DoubleType

In [43]:
schema = StructType([StructField('age',IntegerType(),True),
                     StructField('name',StringType(),True)])
schema = StructType([StructField('L_ORDERKEY',IntegerType(),True),
                     StructField('L_PARTKEY',IntegerType(),True),
                     StructField('L_SUPPKEY',IntegerType(),True),
                     StructField('L_LINENUMBER',IntegerType(),True),
                     StructField('L_QUANTITY',IntegerType(),True),
                     StructField('L_EXTENDEDPRICE',DoubleType(),True),
                     StructField('L_DISCOUNT',DoubleType(),True),
                     StructField('L_TAX',DoubleType(),True),
                     StructField('L_RETURNFLAG',StringType(),True),
                     StructField('L_LINESTATUS',StringType(),True),
                     StructField('L_SHIPDATE',DateType(),True),
                     StructField('L_COMMITDATE',DateType(),True),
                     StructField('L_RECEIPTDATE',DateType(),True),
                     StructField('L_SHIPINSTRUCT',StringType(),True),
                     StructField('L_SHIPMODE',StringType(),True),
                     StructField('L_COMMENT',StringType(),True)])
schema

StructType(List(StructField(L_ORDERKEY,IntegerType,true),StructField(L_PARTKEY,IntegerType,true),StructField(L_SUPPKEY,IntegerType,true),StructField(L_LINENUMBER,IntegerType,true),StructField(L_QUANTITY,IntegerType,true),StructField(L_EXTENDEDPRICE,DoubleType,true),StructField(L_DISCOUNT,DoubleType,true),StructField(L_TAX,DoubleType,true),StructField(L_RETURNFLAG,StringType,true),StructField(L_LINESTATUS,StringType,true),StructField(L_SHIPDATE,DateType,true),StructField(L_COMMITDATE,DateType,true),StructField(L_RECEIPTDATE,DateType,true),StructField(L_SHIPINSTRUCT,StringType,true),StructField(L_SHIPMODE,StringType,true),StructField(L_COMMENT,StringType,true)))

In [44]:
df = spark.read.format('csv').options(header='true').options(delimiter='|').schema(schema).load("/home/azureuser/tpch-kit/sf1g/lineitem.tbl")

In [45]:
df.printSchema()
df.take(5)

root
 |-- L_ORDERKEY: integer (nullable = true)
 |-- L_PARTKEY: integer (nullable = true)
 |-- L_SUPPKEY: integer (nullable = true)
 |-- L_LINENUMBER: integer (nullable = true)
 |-- L_QUANTITY: integer (nullable = true)
 |-- L_EXTENDEDPRICE: double (nullable = true)
 |-- L_DISCOUNT: double (nullable = true)
 |-- L_TAX: double (nullable = true)
 |-- L_RETURNFLAG: string (nullable = true)
 |-- L_LINESTATUS: string (nullable = true)
 |-- L_SHIPDATE: date (nullable = true)
 |-- L_COMMITDATE: date (nullable = true)
 |-- L_RECEIPTDATE: date (nullable = true)
 |-- L_SHIPINSTRUCT: string (nullable = true)
 |-- L_SHIPMODE: string (nullable = true)
 |-- L_COMMENT: string (nullable = true)

[Row(L_ORDERKEY=1, L_PARTKEY=155190, L_SUPPKEY=7706, L_LINENUMBER=1, L_QUANTITY=17, L_EXTENDEDPRICE=21168.23, L_DISCOUNT=0.04, L_TAX=0.02, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 3, 13), L_COMMITDATE=datetime.date(1996, 2, 12), L_RECEIPTDATE=datetime.date(1996, 3, 22), L_SHIPINSTRUCT='DELIVER IN PERSON', L_SHIPMODE='TRUCK', L_COMMENT='egular courts above the'),
 Row(L_ORDERKEY=1, L_PARTKEY=67310, L_SUPPKEY=7311, L_LINENUMBER=2, L_QUANTITY=36, L_EXTENDEDPRICE=45983.16, L_DISCOUNT=0.09, L_TAX=0.06, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 4, 12), L_COMMITDATE=datetime.date(1996, 2, 28), L_RECEIPTDATE=datetime.date(1996, 4, 20), L_SHIPINSTRUCT='TAKE BACK RETURN', L_SHIPMODE='MAIL', L_COMMENT='ly final dependencies: slyly bold '),
 Row(L_ORDERKEY=1, L_PARTKEY=63700, L_SUPPKEY=3701, L_LINENUMBER=3, L_QUANTITY=8, L_EXTENDEDPRICE=13309.6, L_DISCOUNT=0.1, L_TAX=0.02, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 1, 29), L_COMMITDATE=datetime.date(1996, 3, 5), L_RECEIPTDATE=datetime.date(1996, 1, 31), L_SHIPINSTRUCT='TAKE BACK RETURN', L_SHIPMODE='REG AIR', L_COMMENT='riously. regular, express dep'),
 Row(L_ORDERKEY=1, L_PARTKEY=2132, L_SUPPKEY=4633, L_LINENUMBER=4, L_QUANTITY=28, L_EXTENDEDPRICE=28955.64, L_DISCOUNT=0.09, L_TAX=0.06, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 4, 21), L_COMMITDATE=datetime.date(1996, 3, 30), L_RECEIPTDATE=datetime.date(1996, 5, 16), L_SHIPINSTRUCT='NONE', L_SHIPMODE='AIR', L_COMMENT='lites. fluffily even de'),
 Row(L_ORDERKEY=1, L_PARTKEY=24027, L_SUPPKEY=1534, L_LINENUMBER=5, L_QUANTITY=24, L_EXTENDEDPRICE=22824.48, L_DISCOUNT=0.1, L_TAX=0.04, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 3, 30), L_COMMITDATE=datetime.date(1996, 3, 14), L_RECEIPTDATE=datetime.date(1996, 4, 1), L_SHIPINSTRUCT='NONE', L_SHIPMODE='FOB', L_COMMENT=' pending foxes. slyly re')]

In [54]:
df.createOrReplaceTempView("lineitem")

In [55]:
sqlDf = spark.sql("select sum(l_extendedprice * l_discount) as revenue from lineitem "
                  "where l_shipdate >= date '1997-01-01' "
                  "and l_shipdate < date '1997-01-01' + interval '1' year "
                  " and l_discount between 0.07 - 0.01 and 0.07 + 0.01 "
                  " and l_quantity < 25;")

In [56]:
sqlDf.show()

+--------------------+
|             revenue|
+--------------------+
|1.5659409560959977E8|
+--------------------+