TPCH Query 6 and Query 5 runs

In [1]:
spark.range(1000 * 1000 * 1000).count()

1000000000

In [2]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType, DoubleType

In [3]:
schema = StructType([StructField('age',IntegerType(),True),
                     StructField('name',StringType(),True)])
schema = StructType([StructField('L_ORDERKEY',IntegerType(),True),
                     StructField('L_PARTKEY',IntegerType(),True),
                     StructField('L_SUPPKEY',IntegerType(),True),
                     StructField('L_LINENUMBER',IntegerType(),True),
                     StructField('L_QUANTITY',IntegerType(),True),
                     StructField('L_EXTENDEDPRICE',DoubleType(),True),
                     StructField('L_DISCOUNT',DoubleType(),True),
                     StructField('L_TAX',DoubleType(),True),
                     StructField('L_RETURNFLAG',StringType(),True),
                     StructField('L_LINESTATUS',StringType(),True),
                     StructField('L_SHIPDATE',DateType(),True),
                     StructField('L_COMMITDATE',DateType(),True),
                     StructField('L_RECEIPTDATE',DateType(),True),
                     StructField('L_SHIPINSTRUCT',StringType(),True),
                     StructField('L_SHIPMODE',StringType(),True),
                     StructField('L_COMMENT',StringType(),True)])
schema

StructType(List(StructField(L_ORDERKEY,IntegerType,true),StructField(L_PARTKEY,IntegerType,true),StructField(L_SUPPKEY,IntegerType,true),StructField(L_LINENUMBER,IntegerType,true),StructField(L_QUANTITY,IntegerType,true),StructField(L_EXTENDEDPRICE,DoubleType,true),StructField(L_DISCOUNT,DoubleType,true),StructField(L_TAX,DoubleType,true),StructField(L_RETURNFLAG,StringType,true),StructField(L_LINESTATUS,StringType,true),StructField(L_SHIPDATE,DateType,true),StructField(L_COMMITDATE,DateType,true),StructField(L_RECEIPTDATE,DateType,true),StructField(L_SHIPINSTRUCT,StringType,true),StructField(L_SHIPMODE,StringType,true),StructField(L_COMMENT,StringType,true)))

In [4]:
df = spark.read.format('csv').options(header='true').options(delimiter='|').schema(schema).load("/home/azureuser/tpch-kit/sf1g/lineitem.tbl")

In [5]:
df.printSchema()
df.take(5)

root
 |-- L_ORDERKEY: integer (nullable = true)
 |-- L_PARTKEY: integer (nullable = true)
 |-- L_SUPPKEY: integer (nullable = true)
 |-- L_LINENUMBER: integer (nullable = true)
 |-- L_QUANTITY: integer (nullable = true)
 |-- L_EXTENDEDPRICE: double (nullable = true)
 |-- L_DISCOUNT: double (nullable = true)
 |-- L_TAX: double (nullable = true)
 |-- L_RETURNFLAG: string (nullable = true)
 |-- L_LINESTATUS: string (nullable = true)
 |-- L_SHIPDATE: date (nullable = true)
 |-- L_COMMITDATE: date (nullable = true)
 |-- L_RECEIPTDATE: date (nullable = true)
 |-- L_SHIPINSTRUCT: string (nullable = true)
 |-- L_SHIPMODE: string (nullable = true)
 |-- L_COMMENT: string (nullable = true)

[Row(L_ORDERKEY=1, L_PARTKEY=155190, L_SUPPKEY=7706, L_LINENUMBER=1, L_QUANTITY=17, L_EXTENDEDPRICE=21168.23, L_DISCOUNT=0.04, L_TAX=0.02, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 3, 13), L_COMMITDATE=datetime.date(1996, 2, 12), L_RECEIPTDATE=datetime.date(1996, 3, 22), L_SHIPINSTRUCT='DELIVER IN PERSON', L_SHIPMODE='TRUCK', L_COMMENT='egular courts above the'),
 Row(L_ORDERKEY=1, L_PARTKEY=67310, L_SUPPKEY=7311, L_LINENUMBER=2, L_QUANTITY=36, L_EXTENDEDPRICE=45983.16, L_DISCOUNT=0.09, L_TAX=0.06, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 4, 12), L_COMMITDATE=datetime.date(1996, 2, 28), L_RECEIPTDATE=datetime.date(1996, 4, 20), L_SHIPINSTRUCT='TAKE BACK RETURN', L_SHIPMODE='MAIL', L_COMMENT='ly final dependencies: slyly bold '),
 Row(L_ORDERKEY=1, L_PARTKEY=63700, L_SUPPKEY=3701, L_LINENUMBER=3, L_QUANTITY=8, L_EXTENDEDPRICE=13309.6, L_DISCOUNT=0.1, L_TAX=0.02, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 1, 29), L_COMMITDATE=datetime.date(1996, 3, 5), L_RECEIPTDATE=datetime.date(1996, 1, 31), L_SHIPINSTRUCT='TAKE BACK RETURN', L_SHIPMODE='REG AIR', L_COMMENT='riously. regular, express dep'),
 Row(L_ORDERKEY=1, L_PARTKEY=2132, L_SUPPKEY=4633, L_LINENUMBER=4, L_QUANTITY=28, L_EXTENDEDPRICE=28955.64, L_DISCOUNT=0.09, L_TAX=0.06, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 4, 21), L_COMMITDATE=datetime.date(1996, 3, 30), L_RECEIPTDATE=datetime.date(1996, 5, 16), L_SHIPINSTRUCT='NONE', L_SHIPMODE='AIR', L_COMMENT='lites. fluffily even de'),
 Row(L_ORDERKEY=1, L_PARTKEY=24027, L_SUPPKEY=1534, L_LINENUMBER=5, L_QUANTITY=24, L_EXTENDEDPRICE=22824.48, L_DISCOUNT=0.1, L_TAX=0.04, L_RETURNFLAG='N', L_LINESTATUS='O', L_SHIPDATE=datetime.date(1996, 3, 30), L_COMMITDATE=datetime.date(1996, 3, 14), L_RECEIPTDATE=datetime.date(1996, 4, 1), L_SHIPINSTRUCT='NONE', L_SHIPMODE='FOB', L_COMMENT=' pending foxes. slyly re')]

In [6]:
df.createOrReplaceTempView("lineitem")

In [7]:
sqlDf = spark.sql("select sum(l_extendedprice * l_discount) as revenue from lineitem "
                  "where l_shipdate >= date '1997-01-01' "
                  "and l_shipdate < date '1997-01-01' + interval '1' year "
                  " and l_discount between 0.07 - 0.01 and 0.07 + 0.01 "
                  " and l_quantity < 25;")

In [8]:
sqlDf.show()

+--------------------+
|             revenue|
+--------------------+
|1.5659409560959977E8|
+--------------------+

Following neews to be done for the sql code shown below. load customer, orders, lineitem, supplier, nation, region tables. Then run query 5.

In [9]:
customerDf = spark.read.format('csv').options(header='true').options(delimiter='|').options(inferSchema='true').load("/home/azureuser/tpch-kit/sf1g/customer.tbl")
customerDf.printSchema()
customerDf.show(5)
customerDf.createOrReplaceTempView("customer")

root
 |-- C_CUSTKEY: integer (nullable = true)
 |-- C_NAME: string (nullable = true)
 |-- C_ADDRESS: string (nullable = true)
 |-- C_NATIONKEY: integer (nullable = true)
 |-- C_PHONE: string (nullable = true)
 |-- C_ACCTBAL: double (nullable = true)
 |-- C_MKTSEGMENT: string (nullable = true)
 |-- C_COMMENT: string (nullable = true)

+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
|C_CUSTKEY|            C_NAME|           C_ADDRESS|C_NATIONKEY|        C_PHONE|C_ACCTBAL|C_MKTSEGMENT|           C_COMMENT|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
|        1|Customer#000000001|   IVhzIApeRb ot,c,E|         15|25-989-741-2988|   711.56|    BUILDING|to the even, regu...|
|        2|Customer#000000002|XSTf4,NCwDVaWNe6t...|         13|23-768-687-3665|   121.65|  AUTOMOBILE|l accounts. blith...|
|        3|Customer#000000003|        MG9kdTD2WBHm|          1|11-719-748-3364|  7498.12|  AUTOMOBILE| deposits eat sly...|
|        4|Customer#000000004|         XxVSJsLAGtn|          4|14-128-190-5944|  2866.83|   MACHINERY| requests. final,...|
|        5|Customer#000000005|KvpyuHCplrB84WgAi...|          3|13-750-942-6364|   794.47|   HOUSEHOLD|n accounts will h...|
+---------+------------------+--------------------+-----------+---------------+---------+------------+--------------------+
only showing top 5 rows

In [10]:
ordersDf = spark.read.format('csv').options(header='true').options(delimiter='|').options(inferSchema='true').load("/home/azureuser/tpch-kit/sf1g/orders.tbl")
ordersDf.printSchema()
ordersDf.show(5)
ordersDf.createOrReplaceTempView("orders")

root
 |-- O_ORDERKEY: integer (nullable = true)
 |-- O_CUSTKEY: integer (nullable = true)
 |-- O_ORDERSTATUS: string (nullable = true)
 |-- O_TOTALPRICE: double (nullable = true)
 |-- O_ORDERDATE: string (nullable = true)
 |-- O_ORDERPRIORITY: string (nullable = true)
 |-- O_CLERK: string (nullable = true)
 |-- O_SHIPPRIORITY: integer (nullable = true)
 |-- O_COMMENT: string (nullable = true)

+----------+---------+-------------+------------+-----------+---------------+---------------+--------------+--------------------+
|O_ORDERKEY|O_CUSTKEY|O_ORDERSTATUS|O_TOTALPRICE|O_ORDERDATE|O_ORDERPRIORITY|        O_CLERK|O_SHIPPRIORITY|           O_COMMENT|
+----------+---------+-------------+------------+-----------+---------------+---------------+--------------+--------------------+
|         1|    36901|            O|   173665.47| 1996-01-02|          5-LOW|Clerk#000000951|             0|nstructions sleep...|
|         2|    78002|            O|    46929.18| 1996-12-01|       1-URGENT|Clerk#000000880|             0| foxes. pending a...|
|         3|   123314|            F|   193846.25| 1993-10-14|          5-LOW|Clerk#000000955|             0|sly final account...|
|         4|   136777|            O|    32151.78| 1995-10-11|          5-LOW|Clerk#000000124|             0|sits. slyly regul...|
|         5|    44485|            F|    144659.2| 1994-07-30|          5-LOW|Clerk#000000925|             0|quickly. bold dep...|
+----------+---------+-------------+------------+-----------+---------------+---------------+--------------+--------------------+
only showing top 5 rows

In [11]:
supplierDf = spark.read.format('csv').options(header='true').options(delimiter='|').options(inferSchema='true').load("/home/azureuser/tpch-kit/sf1g/supplier.tbl")
supplierDf.printSchema()
supplierDf.show(5)
supplierDf.createOrReplaceTempView("supplier")

root
 |-- S_SUPPKEY: integer (nullable = true)
 |-- S_NAME: string (nullable = true)
 |-- S_ADDRESS: string (nullable = true)
 |-- S_NATIONKEY: integer (nullable = true)
 |-- S_PHONE: string (nullable = true)
 |-- S_ACCTBAL: double (nullable = true)
 |-- S_COMMENT: string (nullable = true)

+---------+------------------+--------------------+-----------+---------------+---------+--------------------+
|S_SUPPKEY|            S_NAME|           S_ADDRESS|S_NATIONKEY|        S_PHONE|S_ACCTBAL|           S_COMMENT|
+---------+------------------+--------------------+-----------+---------------+---------+--------------------+
|        1|Supplier#000000001| N kD4on9OM Ipw3,...|         17|27-918-335-1736|  5755.94|each slyly above ...|
|        2|Supplier#000000002|89eJ5ksX3ImxJQBvx...|          5|15-679-861-2259|  4032.68| slyly bold instr...|
|        3|Supplier#000000003|q1,G3Pj6OjIuUYfUo...|          1|11-383-516-1199|   4192.4|blithely silent r...|
|        4|Supplier#000000004|Bk7ah4CK8SYQTepEm...|         15|25-843-787-7479|  4641.08|riously even requ...|
|        5|Supplier#000000005|   Gcdm2rJRzl5qlTVzc|         11|21-151-690-3663|  -283.84|. slyly regular p...|
+---------+------------------+--------------------+-----------+---------------+---------+--------------------+
only showing top 5 rows

In [12]:
nationDf = spark.read.format('csv').options(header='true').options(delimiter='|').options(inferSchema='true').load("/home/azureuser/tpch-kit/sf1g/nation.tbl")
nationDf.printSchema()
nationDf.show(5)
nationDf.createOrReplaceTempView("nation")

root
 |-- N_NATIONKEY: integer (nullable = true)
 |-- N_NAME: string (nullable = true)
 |-- N_REGIONKEY: integer (nullable = true)
 |-- N_COMMENT: string (nullable = true)

+-----------+---------+-----------+--------------------+
|N_NATIONKEY|   N_NAME|N_REGIONKEY|           N_COMMENT|
+-----------+---------+-----------+--------------------+
|          0|  ALGERIA|          0| haggle. carefull...|
|          1|ARGENTINA|          1|al foxes promise ...|
|          2|   BRAZIL|          1|y alongside of th...|
|          3|   CANADA|          1|eas hang ironic, ...|
|          4|    EGYPT|          4|y above the caref...|
+-----------+---------+-----------+--------------------+
only showing top 5 rows

In [13]:
regionDf = spark.read.format('csv').options(header='true').options(delimiter='|').options(inferSchema='true').load("/home/azureuser/tpch-kit/sf1g/region.tbl")
regionDf.printSchema()
regionDf.show(5)
regionDf.createOrReplaceTempView("region")

root
 |-- R_REGIONKEY: integer (nullable = true)
 |-- R_NAME: string (nullable = true)
 |-- R_COMMENT: string (nullable = true)

+-----------+-----------+--------------------+
|R_REGIONKEY|     R_NAME|           R_COMMENT|
+-----------+-----------+--------------------+
|          0|     AFRICA|lar deposits. bli...|
|          1|    AMERICA|hs use ironic, ev...|
|          2|       ASIA|ges. thinly even ...|
|          3|     EUROPE|ly final courts c...|
|          4|MIDDLE EAST|uickly special ac...|
+-----------+-----------+--------------------+

In [14]:
sql5Df = spark.sql("select n_name, sum(l_extendedprice * (1 - l_discount)) as revenue "
    "from customer, orders, lineitem, supplier, nation, region "
    "where c_custkey = o_custkey "
    "and l_orderkey = o_orderkey "
    "and l_suppkey = s_suppkey "
    "and c_nationkey = s_nationkey "
    "and s_nationkey = n_nationkey "
    "and n_regionkey = r_regionkey "
    "and r_name = 'EUROPE' "
    "and o_orderdate >= date '1995-01-01' "
    "and o_orderdate < date '1995-01-01' + interval '1' year "
    "group by n_name order by revenue desc")

In [15]:
sql5Df.show()

+--------------+--------------------+
|        n_name|             revenue|
+--------------+--------------------+
|        RUSSIA| 5.606302283899996E7|
|       ROMANIA|5.4994648594799995E7|
|UNITED KINGDOM| 5.468614748900003E7|
|        FRANCE| 5.194113723339999E7|
|       GERMANY| 5.153649818379998E7|
+--------------+--------------------+